.shadow {
  box-shadow: 0 0 10px #000;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.ji-center {
  justify-items: center;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.position-fixed {
  position: fixed;
}

.display-flex {
  display: flex;
}

.df-column {
  flex-direction: column;
  display: flex;
}

.display-grid {
  display: grid;
}

.ta-center {
  text-align: center;
}

.ocultar {
  display: none;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.border-radius-20 {
  border-radius: 20px;
}

.fade-in {
  animation: 2s ease-in-out fadeIn;
}

.fade-in-5s {
  animation: 5s ease-in-out fadeIn;
}

.bi {
  margin: 0;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

header {
  background-color: #10292a;
  margin: 0;
}

header img {
  cursor: pointer;
  margin-left: 3px;
}

.menu button {
  color: #fff;
  box-shadow: none;
  background-color: #10292a;
  border: none;
  outline: none;
  width: 100%;
  height: 90%;
}

.menu button:hover {
  background: linear-gradient(#bcebbea2, #10292a);
}

.menu div {
  background-color: #bcebbe;
  width: 100%;
  height: 3px;
}

.menu ul {
  margin: 0;
}

.menu ul li {
  margin-left: 5px;
  list-style: none;
}

.logoPagina {
  cursor: pointer;
}

.abrir-menu, .cerrar-menu {
  font-size: 30px;
  display: none;
}

.lista button {
  cursor: pointer;
}

footer {
  background-color: #10292a;
}

footer h1 {
  color: #bcebbe;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media screen and (width <= 850px) {
  .abrir-menu, .cerrar-menu {
    cursor: pointer;
    color: #bcebbe;
    background-color: #0000;
    border: 0;
  }

  .menu {
    opacity: 0;
    visibility: hidden;
    background-color: #10292a;
    padding: 2rem;
    box-shadow: 40px 0 50px #fff;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }

  .lista {
    padding-left: 0;
  }

  .menu ul li {
    list-style: none;
  }
}

@media screen and (width <= 1900px) and (height <= 500px) and (orientation: landscape) {
  .menu ul li {
    margin-left: 0;
    list-style: none;
  }
}

@media screen and (width <= 900px) and (height <= 290px) and (orientation: landscape) {
  .cerrar-menu {
    font-size: 25px;
  }

  .menu ul li {
    margin-left: 0;
    list-style: none;
  }

  .lista button {
    font-size: clamp(.313rem, 6.667vw - .104rem, .938rem);
  }
}

@media screen and (width <= 800px) {
  footer article {
    margin-top: 0;
  }

  footer h1 {
    font-size: 15px;
  }
}

@media screen and (width <= 800px) and (height <= 450px) and (orientation: landscape) {
  footer h1, footer a {
    font-size: 13px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

@media screen and (width <= 800px) {
  body {
    width: 100%;
  }
}

footer {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
  display: flex;
}

@media screen and (width <= 800px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 60vh;
    display: flex;
  }
}

@media screen and (width <= 800px) and (height <= 450px) and (orientation: landscape) {
  footer {
    height: 90vh;
  }
}

header {
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9%;
  display: flex;
  position: fixed;
  top: 0;
}

.menu ul {
  gap: 10px;
  height: 100%;
  display: flex;
}

.menu ul li {
  width: 150px;
  height: 90%;
}

header img {
  height: 30%;
}

@media screen and (width <= 850px) {
  header {
    justify-content: unset;
    justify-content: space-between;
    display: flex;
    position: fixed;
  }

  .abrir-menu, .cerrar-menu {
    display: block;
  }

  .menu {
    z-index: 4;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .menu button {
    height: 100px;
  }

  .lista {
    flex-direction: column;
    width: 100%;
  }

  .menu ul li {
    width: 150px;
    height: 100px;
  }

  .menu ul li div {
    display: none;
  }
}

@media screen and (width <= 180px) {
  header img {
    display: none;
  }

  .menu {
    width: 100%;
  }

  .menu ul li {
    width: 100%;
    height: 80px;
  }
}

@media screen and (width <= 1900px) and (height <= 500px) and (orientation: landscape) {
  header {
    height: 16%;
  }

  .menu button {
    height: 50px;
  }

  .menu ul li {
    width: 100%;
    height: 50px;
  }
}

@media screen and (width <= 900px) and (height <= 290px) and (orientation: landscape) {
  header {
    height: 13%;
  }

  .menu button {
    height: 10%;
  }

  .menu ul li {
    width: 100%;
    height: 15%;
  }
}

#presentacion {
  color: #bcebbe;
  background-color: #2d4d4d;
  box-shadow: 0 1px 10px #000;
}

#presentacion h3 {
  font-size: clamp(.14rem, 7.876vw - .352rem, 1.6rem);
}

.logoPrincipal {
  width: 50vw;
}

.btnScroll {
  z-index: 2;
  height: 50px;
  margin-top: 5%;
  position: relative;
}

#parte1, #parte2, #parte3, #parte4 p {
  text-align: center;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: clamp(.8rem, .364rem + 1.168vw, 1.75rem);
  font-weight: bold;
  text-decoration: none;
}

#parte1 {
  color: #2d4d4d;
  z-index: 2;
  background-color: #fff;
}

#parte1 article:not(#collage) {
  z-index: 1;
}

#parte1 h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#parte2 {
  color: #fff;
  z-index: 0;
  background-color: #2d4d4d;
}

#parte2 article:not(#personajes) {
  z-index: 1;
}

#parte2 h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#parte3 {
  color: #10292a;
  background-color: #bcebbe;
}

#parte3 article:not(#contenidoRecomendado) {
  z-index: 2;
}

#parte3 h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#parte4 {
  color: #10292a;
  background-color: #fff;
}

#parte4 h1 {
  margin: 10px;
}

#parte4 button {
  color: #fff;
  background-color: #10292a;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

#contenido section {
  height: 100vh;
}

#contenido section:not(#presentacion) article {
  width: 80vw;
}

#contenido section:not(#presentacion) h1 {
  font-family: Barlow Condensed, sans-serif;
  font-size: clamp(1rem, .556rem + 7.111vw, 5.4rem);
}

.collage {
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(7em, 5fr));
  justify-items: center;
  width: 80vw;
  height: 70vh;
  display: grid;
  position: absolute;
  overflow: hidden;
}

.collage img {
  z-index: 1;
  border-radius: 10px;
}

#contenidoRecomendado {
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(12em, 5fr));
  width: 80vw;
  height: 70vh;
  display: grid;
  position: absolute;
  overflow: hidden;
}

#contenidoRecomendado img {
  z-index: 1;
  border-radius: 10px;
  height: 120px;
  margin: 10px;
  box-shadow: 0 0 8px 2px #00000046;
}

#personajes {
  box-sizing: border-box;
  grid-gap: 55px;
  z-index: 0;
  grid-template-columns: repeat(auto-fit, minmax(11em, 5fr));
  justify-content: center;
  place-items: center;
  width: 90vw;
  height: 70vh;
  padding: 20px;
  display: grid;
  position: absolute;
  overflow: hidden;
}

.psj {
  z-index: 1;
  background-color: #ffffff26;
  border: 1px solid gray;
  border-radius: 45px;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  width: 190px;
  height: 55px;
  margin: 10px;
  padding: 2px;
  display: flex;
  box-shadow: 0 0 9px 1px #ffffff25;
}

.psj img {
  border-radius: 70px;
  height: 55px;
}

.psj p {
  padding-right: 25px;
  font-size: 16px;
}

#degradado {
  z-index: 1;
  background: linear-gradient(0deg, #fffffffe 0%, #fffffff4 50%, #fff0 100%);
  width: 90vw;
  height: 90vh;
  position: absolute;
}

#degradadoPersonajes {
  z-index: 2;
  background: linear-gradient(0deg, #2d4d4d 0%, #2d4d4dfd 50%, #2d4d4d00 100%);
  width: 90vw;
  height: 90vh;
  position: absolute;
}

#degradadoContenido {
  z-index: 1;
  background: linear-gradient(0deg, #bcebbe 0%, #bcebbefd 60%, #bcebbe00 100%);
  width: 90vw;
  height: 90vh;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bi-book, .bi-bar-chart-line, .bi-camera-reels, .bi-person-add {
  z-index: 2;
  font-size: clamp(2rem, 1.591rem + 6.551vw, 9.37rem);
  position: relative;
}

.icon:hover {
  text-shadow: 3px 3px #000;
}

@media screen and (width <= 850px) {
  article p {
    text-align: center;
    max-width: 100%;
  }

  #contenido {
    min-width: 100%;
  }
}

@media screen and (width <= 450px) {
  #collage, #personajes, #contenidoRecomendado {
    display: none;
  }
}

@media screen and (width <= 1000px) and (height <= 500px) and (orientation: landscape) {
  #presentacion h3 {
    font-size: 14px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: Barlow Condensed, sans-serif;
    font-size: 28px;
  }
}

@media screen and (width <= 700px) and (height <= 400px) and (orientation: landscape) {
  #presentacion h3 {
    font-size: 14px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: Barlow Condensed, sans-serif;
    font-size: 28px;
  }
}

@media screen and (width <= 700px) and (height <= 500px) and (orientation: landscape) {
  #presentacion h3 {
    font-size: 12px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: Barlow Condensed, sans-serif;
    font-size: 20px;
  }

  .bi-book, .bi-bar-chart-line, .bi-camera-reels, .bi-person-add {
    font-size: 30px;
  }

  .btnScroll {
    margin-top: 0%;
    padding: 0;
  }

  .btnScroll img {
    height: 25px;
  }
}

#contenido {
  width: 100%;
}

.mostrarCarrito {
  color: #bcebbe;
  background-color: #2d4d4d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  position: fixed;
  top: 50%;
  right: 10px;
  box-shadow: 0 0 10px 2px #00000071;
}

.mostrarCarrito #productos {
  text-align: center;
  color: #000;
  background-color: #ff1e00;
  border-radius: 10px;
  width: 20px;
  margin-top: 50px;
  font-size: 16px;
  position: fixed;
  right: 60px;
  box-shadow: 0 0 10px 2px #00000071;
}

#destacados {
  color: #fff;
  background-color: #2d4d4d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin-top: 5%;
  display: flex;
}

#destacados > div {
  justify-content: space-around;
  width: 100%;
  display: flex;
}

#destacados > div > div {
  text-align: center;
  color: #fff;
  background-color: #2d4d4d;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-bottom: 3%;
  font-weight: 800;
  display: flex;
  box-shadow: 0 0 10px 2px #ffffff6c;
}

#destacados > div > div img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#destacados > div > div span {
  display: none;
}

#destacados > div > div:hover {
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

#destacados > div > div:hover span {
  text-shadow: 2px 0 10px 5px #000;
  z-index: 0;
  background-color: #0000006b;
  width: 100%;
  transition: all .2s ease-in-out;
  display: block;
  position: absolute;
  overflow: hidden;
}

#destacados > div > div:hover img {
  filter: blur(1px);
}

#libros {
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(17em, 5fr));
  justify-items: center;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

#filtros {
  color: #fff;
  background-color: #2d4d4d;
  border-radius: 20px;
  width: 90vw;
  height: 50px;
  margin-top: 10px;
}

#filtros select {
  color: #10292a;
  background-color: #bcebbe;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-family: Montserrat, sans-serif;
}

#filtros option {
  color: #000;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
}

.libro {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  width: 250px;
  max-height: 350px;
  display: flex;
  box-shadow: 0 0 10px 4px #0000002c;
}

.libro > img {
  width: 150px;
  height: 200px;
  margin: 10px;
  box-shadow: 0 0 5px 2px #00000041;
}

.libro > hr {
  border: 1px solid #e4e4e4;
  width: 80%;
  margin: 0;
}

.libro > article {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  display: flex;
}

.libro > article > h1 {
  margin: 0;
  font-size: 16px;
}

.libro > article > .btnLibro {
  display: none;
}

.libro > article > .btnLibro button {
  color: #fff;
  cursor: pointer;
  background-color: #2d4d4d;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 7px;
  font-family: Montserrat, sans-serif;
}

.libro > article > .btnLibro button:hover {
  color: #ff0;
}

.libro > article > .info {
  flex-direction: column;
  justify-content: center;
  height: 100px;
  display: flex;
}

.libro > article > .info .precio {
  color: #b60303;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.libro > article > .info .star {
  color: #efc700;
}

.libro > article > .info .envio {
  color: #02cd02;
  font-size: 14px;
}

.libro > article:hover .info {
  display: none;
}

.libro > article:hover .btnLibro {
  height: 100px;
  display: block;
}

.libro:hover {
  transition: all .2s ease-in-out;
  box-shadow: 10px 10px 2px #bcebbe;
}

.libro:hover > article .info {
  display: none;
}

.libro:hover > article .btnLibro {
  height: 100px;
  display: block;
}

.enlaceLibro {
  display: none;
}

.infoLibro {
  box-sizing: border-box;
  background: #f0f0f0;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  display: flex;
}

.infoLibro .prevLibro, .infoLibro .descrpLibro {
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0 4px 8px #0000001a;
}

.infoLibro .prevLibro {
  flex: 0 0 22%;
  margin-right: 2rem;
}

.infoLibro .prevLibro img {
  max-height: auto;
  border-radius: 10px;
  max-width: 100%;
}

.infoLibro .descrpLibro {
  color: #333;
  background-color: #fff;
  flex-grow: 1;
  padding: 2rem;
}

.infoLibro .descrpLibro .tituloDescripcion h1 {
  margin-bottom: .5rem;
  font-size: clamp(1.75rem, 5vw, 2rem);
  font-weight: bold;
}

.infoLibro .descrpLibro .tituloDescripcion h3 {
  color: #555;
  margin-bottom: 1rem;
  font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.infoLibro .descrpLibro .tituloDescripcion p, .infoLibro .descrpLibro .tituloDescripcion li {
  margin-bottom: 1rem;
  font-size: clamp(.9rem, 2.5vw, 1rem);
  line-height: 1.5;
}

.infoLibro .descrpLibro .tituloDescripcion ul {
  padding: 0;
  list-style: none;
}

.infoLibro .descrpLibro .tituloDescripcion .etiquetas {
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.infoLibro .descrpLibro .tituloDescripcion .etiquetas span {
  background-color: #ddd;
  border-radius: 20px;
  padding: .5rem 1rem;
  font-size: clamp(.8rem, 2.2vw, .9rem);
  font-weight: 500;
}

.infoLibro .descrpLibro .tituloDescripcion .stars {
  color: #f5a623;
  align-items: center;
  display: flex;
}

.infoLibro .descrpLibro .tituloDescripcion .stars i {
  margin-right: .3rem;
}

.infoLibro .descrpLibro .tituloDescripcion .stars span {
  font-size: clamp(.8rem, 2.2vw, 1rem);
}

.infoLibro .descrpLibro .compra {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
}

.infoLibro .descrpLibro .compra button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  flex: 1;
  padding: 1rem 1.5rem;
  font-size: clamp(.8rem, 2vw, 1rem);
  font-weight: 500;
  transition: background-color .3s, color .3s;
}

.infoLibro .descrpLibro .compra button:hover {
  color: #bcebbe;
  background-color: #2d4d4d;
}

.infoLibro .descrpLibro .compra .btnComprar {
  color: #10292a;
  cursor: pointer;
  background-color: #bcebbe;
}

.infoLibro .descrpLibro .compra .btnComprar:hover {
  color: #bcebbe;
  background-color: #2d4d4d;
}

@media screen and (width <= 800px) {
  .infoLibro {
    flex-direction: column;
    align-items: center;
  }

  .infoLibro .prevLibro, .infoLibro .descrpLibro {
    width: 100%;
    margin-top: 5rem;
    margin-right: 0;
  }

  .infoLibro .prevLibro {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .infoLibro .prevLibro img {
    max-width: 50%;
    height: auto;
  }

  .infoLibro .descrpLibro {
    order: 1;
  }

  .infoLibro .compra {
    flex-direction: column;
    width: 100%;
  }

  .infoLibro .compra button {
    width: 100%;
    margin-bottom: .5rem;
  }
}

@media screen and (width <= 450px) {
  .infoLibro .prevLibro img {
    max-width: 80%;
    margin-top: 1rem;
  }
}

@media screen and (width <= 900px) {
  .libro > article:hover .info {
    display: inline;
  }

  .libro > article:hover .btnLibro {
    display: none;
  }

  .libro .enlaceLibro {
    width: 100%;
    height: 100%;
    display: block;
  }

  .libro .enlaceLibro button {
    background-color: #0000;
    border: none;
    outline: none;
    width: 250px;
    height: 350px;
    position: absolute;
  }

  #destacados {
    display: none;
  }

  #filtros {
    margin-top: 15%;
  }
}

@media screen and (width <= 850px) {
  #contenedorValoracion, #contenedorPrecio {
    display: none;
  }

  #filtros {
    cursor: pointer;
    width: 50%;
    box-shadow: 0 0 10px 2px #0000004b;
  }
}

@media screen and (width <= 450px) {
  #libros {
    width: 45vh;
    margin-top: 35%;
  }

  #filtros {
    margin-top: 25%;
    position: fixed;
  }

  .mostrarCarrito {
    color: #bcebbe;
    background-color: #2d4d4d;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 40px;
    display: flex;
    position: fixed;
    top: 80%;
    right: 10px;
  }
}

#contenidoLogin > #recuadro {
  background-color: #10292a;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 60vh;
  display: flex;
}

#contenidoLogin > #recuadro > .login {
  background-color: #2d4d4d;
  width: 40%;
  height: 90%;
  margin-top: 15px;
  box-shadow: 0 0 10px 2px #000;
}

#contenidoLogin > #recuadro > .login > p {
  color: #fff;
}

#contenidoLogin > #recuadro > .login > h1 {
  color: #fff;
  font-size: 17px;
}

#contenidoLogin > #recuadro > .login form {
  width: 90%;
}

#contenidoLogin > #recuadro > .login form input {
  text-align: center;
  color: #000;
  border: none;
  border-radius: 15px;
  outline: none;
  width: 100%;
  height: 35px;
  margin: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 10px #00000091;
}

#contenidoLogin > #recuadro > .login form input[type="submit"] {
  cursor: pointer;
  width: 50%;
}

#contenidoLogin > #recuadro > .login a {
  color: #bcebbe;
  text-decoration: none;
}

#contenidoLogin > #recuadro > .info {
  color: #fff;
}

#contenidoLogin > #recuadro > .info h1 {
  font-size: clamp(.8rem, .364rem + 1.168vw, 1.75rem);
  font-weight: 500;
}

#contenidoLogin > #recuadro > .info i {
  margin: 10px;
  font-size: 40px;
}

.cuenta {
  color: #fff;
  background: #2d4d4d;
  min-height: 100vh;
  padding: 20px;
  font-family: Montserrat, sans-serif;
}

.cuenta .container {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

.cuenta .container .panel {
  background: #bcebbe;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  display: flex;
}

.cuenta .container .panel h2 {
  color: #10292a;
  margin-bottom: 20px;
  font-family: Barlow Condensed, sans-serif;
  font-size: clamp(.8rem, .364rem + 1.168vw, 1.75rem);
}

.cuenta .container .panel input {
  color: #10292a;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.cuenta #cerrarSesion {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background: #10292a;
  border: none;
  border-radius: 5px;
  width: auto;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

@media screen and (width <= 850px) {
  .cuenta .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (width <= 450px) {
  .cuenta .container {
    gap: 10px;
    width: 90%;
  }

  .cuenta .panel:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (width <= 1000px) {
  #contenidoLogin #recuadro {
    flex-direction: column;
    height: auto;
  }

  #contenidoLogin #recuadro > .login, #contenidoLogin #recuadro > .login form {
    width: 90%;
  }

  #contenidoLogin #recuadro > .info h1 {
    font-size: 14px;
  }
}

@media screen and (width <= 600px) {
  #contenidoLogin #recuadro {
    flex-direction: column;
    width: 85%;
    height: 70vh;
  }

  #contenidoLogin #recuadro > .login {
    width: 90%;
    height: 55%;
  }

  #contenidoLogin #recuadro > .login form {
    width: 90%;
  }

  #contenidoLogin #recuadro > .info h1 {
    font-size: 14px;
  }
}

@media screen and (width <= 530px) and (height <= 670px) {
  #contenidoLogin #recuadro {
    flex-direction: column;
    width: 85%;
    height: 80vh;
  }

  #contenidoLogin #recuadro > .login {
    width: 90%;
    height: 60%;
  }

  #contenidoLogin #recuadro > .login form {
    width: 90%;
  }

  #contenidoLogin #recuadro > .info h1 {
    font-size: 14px;
  }
}

#titulo {
  background-color: #2d4d4d;
  width: 100%;
  height: 180px;
}

#titulo > h1 {
  color: #fff;
  font-size: 30px;
}

#seccionRecomendado {
  width: 100%;
  margin-bottom: 10px;
}

#seccionRecomendado .videos {
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(18em, 5fr));
  justify-items: center;
  width: 90%;
  height: 80%;
  margin-top: 3%;
  display: grid;
}

#seccionRecomendado .videos .video {
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 355px;
  height: 200px;
  text-decoration: none;
  display: flex;
}

#seccionRecomendado .videos .video > img {
  filter: blur(1.5px);
  border-radius: 20px;
  height: 200px;
  position: absolute;
}

#seccionRecomendado .videos .video > .bi {
  color: red;
  z-index: 2;
  font-size: 40px;
  position: relative;
  top: -40px;
}

#seccionRecomendado .videos .video > .titulo {
  text-align: center;
  background-color: #ffffffc2;
  border-radius: 15px;
  width: 95%;
  position: relative;
  bottom: 4px;
}

#seccionRecomendado .videos .video > .titulo p {
  margin: 10px;
}

#seccionRecomendado .videos .video > .videoInfo {
  text-align: center;
  background-color: #ffffffc2;
  border-radius: 15px;
  display: none;
  position: relative;
  bottom: 4px;
}

#seccionRecomendado .videos .video > .videoInfo p {
  margin: 10px;
}

#seccionRecomendado .videos .video:hover {
  cursor: pointer;
}

#seccionRecomendado .videos .video:hover > img {
  z-index: 2;
  filter: blur();
  height: 220px;
  transition: all .2s cubic-bezier(.785, .135, .15, .86);
  position: absolute;
  box-shadow: 0 0 10px 2px #0000005b;
}

#seccionRecomendado .videos .video:hover > .bi {
  display: none;
}

#seccionRecomendado .videos .video:hover > .videoInfo {
  z-index: 4;
  text-align: center;
  background-color: #00000098;
  transition: all .12s ease-in-out;
  display: block;
  box-shadow: 0 0 10px 2px #ffffff5b;
}

#seccionRecomendado .videos .video:hover > .videoInfo > p {
  color: #fff;
  margin: 10px;
}

#seccionRecomendado .videos .video:hover > .videoInfo > p > .bi {
  margin: 4px;
}

#consejos {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

#consejos > article {
  box-sizing: border-box;
  background-color: #2d4d4d;
  border-radius: 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px 0;
  padding: 20px;
  display: flex;
}

#consejos > article > article {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 220px);
  display: flex;
}

#consejos > article > article h1 {
  text-align: center;
  margin: 10px 0;
}

#consejos > article > article ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

#consejos > article > article ul li {
  text-align: center;
  margin-bottom: 10px;
}

#consejos > article img {
  border: 10px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#consejos > article:hover {
  transition: all .3s;
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px #0000004d;
}

@media screen and (width <= 850px) {
  #consejos > article {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  #consejos > article > article {
    width: 100%;
    margin: 0;
  }

  #consejos > article img {
    border: 8px solid #fff;
    width: 150px;
    height: 150px;
    margin: 10px auto;
  }
}

.carrito-contenedor {
  box-sizing: border-box;
  background: #f0f0f0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.carrito-contenedor #productos {
  flex-direction: column;
  align-items: center;
  width: 60%;
  display: flex;
}

.carrito-contenedor #productos .producto {
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  box-shadow: 0 2px 4px #0000001a;
}

.carrito-contenedor #productos .producto img {
  max-width: 120px;
  height: auto;
}

.carrito-contenedor #productos .producto .producto-info {
  flex-grow: 1;
  padding: 0 1rem;
}

.carrito-contenedor #productos .producto .producto-info p {
  margin: 0;
}

.carrito-contenedor #productos .producto .producto-info p:first-child {
  margin-bottom: .5rem;
  font-weight: bold;
}

.carrito-contenedor #productos .producto .quitar-producto {
  color: #fff;
  cursor: pointer;
  background-color: #c0392b;
  border: none;
  border-radius: 20px;
  padding: .5rem 1rem;
}

.carrito-contenedor #productos .producto .quitar-producto:hover {
  background-color: #962d22;
}

.carrito-contenedor #compra {
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 1rem;
  display: flex;
  box-shadow: 0 2px 4px #0000001a;
}

.carrito-contenedor #compra .total-pagar {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.carrito-contenedor #compra .codigo-promocional {
  width: 100%;
  margin-bottom: 1rem;
}

.carrito-contenedor #compra .codigo-promocional label {
  margin-bottom: .5rem;
  display: block;
}

.carrito-contenedor #compra .codigo-promocional input[type="text"] {
  width: calc(100% - 20px);
  margin-bottom: 1rem;
  padding: .5rem;
}

.carrito-contenedor #compra .codigo-promocional button {
  color: #10292a;
  cursor: pointer;
  background-color: #bcebbe;
  border-radius: 20px;
  width: 100%;
  padding: .75rem 0;
}

.carrito-contenedor #compra .codigo-promocional button:hover {
  color: #bcebbe;
  background-color: #10292a;
}

.carrito-contenedor #compra .realizar-pedido {
  color: #fff;
  cursor: pointer;
  background-color: #10292a;
  border-radius: 20px;
  width: 100%;
  padding: .75rem 0;
}

.carrito-contenedor #compra .realizar-pedido:hover {
  color: #10292a;
  background-color: #bcebbe;
}

@media screen and (width <= 800px) {
  .carrito-contenedor {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .carrito-contenedor #productos, .carrito-contenedor #compra {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (width <= 480px) {
  .carrito-contenedor {
    flex-direction: column;
    align-items: center;
  }

  .carrito-contenedor #productos, .carrito-contenedor #compra {
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;
  }

  .carrito-contenedor #productos .producto, .carrito-contenedor #compra .producto {
    flex-direction: column;
    align-items: center;
  }

  .carrito-contenedor #productos .producto .producto-info, .carrito-contenedor #compra .producto .producto-info {
    text-align: center;
    order: 2;
  }

  .carrito-contenedor #productos .producto .quitar-producto, .carrito-contenedor #compra .producto .quitar-producto {
    order: 3;
  }

  .carrito-contenedor .total-pagar, .carrito-contenedor .codigo-promocional, .carrito-contenedor .realizar-pedido {
    width: 90%;
  }
}

/*# sourceMappingURL=index.d1525d91.css.map */
