
// Estilos para el contenedor principal
#contenido {
  section {
    height: 100vh;
  }

  section:not(#presentacion) article {
    width: 80vw;
  }

  section:not(#presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: $clamp-h1;
  }
}

// Sección principal que contiene un título y el logo de la página
#presentacion {
  background-color: nth($paleta-colores, 3);
  color: nth($paleta-colores, 1);
  box-shadow: 0px 1px 10px black;

  h3 {
    font-size: $clamp-h3-presentacion;
  }
}

.logoPrincipal {
  width: 50vw;
}

.btnScroll {
  position: relative;
  margin-top: 5%;
  z-index: 2;
  height: 50px;
}

#parte1 ,
#parte2 ,
#parte3 ,
#parte4 p {
  font-family: $fuente-texto-secundaria;
  font-weight: bold;
  text-align: center;
  font-size: $clamp-p;
  text-decoration: none;
  margin: 0;
}

// Parte 1
#parte1 {
  background-color: nth($paleta-colores, 4);
  color: nth($paleta-colores, 3);
  z-index: 2;

  article:not(#collage) {
    z-index: 1;
  }
}

#parte1 h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

// Estilos para la sección 2
#parte2 {
  background-color: nth($paleta-colores, 3);
  color: nth($paleta-colores, 4);
  z-index: 0;

  article:not(#personajes) {
    z-index: 1;
  }
}

#parte2 h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

// Estilos para la sección 3
#parte3 {
  background-color: nth($paleta-colores, 1);
  color: nth($paleta-colores, 2);

  article:not(#contenidoRecomendado) {
    z-index: 2;
  }
}

#parte3 h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

// Estilos para la sección 4
#parte4 {
  background-color: nth($paleta-colores, 4);
  color: nth($paleta-colores, 2);

  h1 {
    margin: 10px;
  }

  button {
    background-color: nth($paleta-colores, 2);
    color: nth($paleta-colores, 4);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 10px;
  }
}

// Contenedor principal
#contenido {
  section {
    height: 100vh;
  }

  section:not(#presentacion) article {
    width: 80vw;
  }

  section:not(#presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: $clamp-h1;
  }
}

// Estilos para el collage de imágenes de fondo
.collage {
  position: absolute;
  width: 80vw;
  height: 70vh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(7em, 5fr));
  grid-gap: 4rem;
  overflow: hidden;

  img {
    border-radius: 10px;
    z-index: 1;
  }
}

// Se aplica un degradado sobre el collage de las imágenes de los libros del menú principal
#degradado {
  position: absolute;
  width: 90vw;
  height: 90vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.998) 0%,
      rgba(255, 255, 255, 0.955) 50%,
      rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}


// Miniaturas de fondo de la sección 2 del home
#contenidoRecomendado {
  position: absolute;
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 5fr));
  grid-gap: 5rem;
  overflow: hidden;

  img {
    border-radius: 10px;
    z-index: 1;
    height: 120px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.274);
    margin: 10px;
  }
}

// Degradado de contenido
#degradadoContenido {
  position: absolute;
  width: 90vw;
  height: 90vh;

  background: nth($paleta-colores, 1);
  background: linear-gradient(0deg,
      #bcebbe 0%,
      #bcebbefd 60%,
      #bcebbe00

 100%);
  z-index: 1;
}

// Grupo de tarjetas de personajes de fondo
#personajes {
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 90vw;
  height: 70vh;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(11em, 5fr));
  grid-gap: 55px;
  overflow: hidden;
  z-index: 0;
}

// Cada tarjeta de personajes
.psj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  border: solid 1px grey;
  gap: 1px;
  padding: 2px;
  height: 55px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.149);
  box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.144);
  width: 190px;
  z-index: 1;

  img {
    border-radius: 70px;
    height: 55px;
  }

  p {
    font-size: 16px;
    padding-right: 25px;
  }
}


// Degradado de personajes
#degradadoPersonajes {
  position: absolute;
  width: 90vw;
  height: 90vh;

  background: nth($paleta-colores, 3);
  background: linear-gradient(0deg,
      #2d4d4d 0%,
      #2d4d4dfd 50%,
      #2d4d4d00 100%);
  z-index: 2;
}



// Animación que empieza con una opacidad de 0 y termina con 1 que sería totalmente visible
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Se le aplica un clamp a los iconos para que se adapten
.bi-book,
.bi-bar-chart-line,
.bi-camera-reels,
.bi-person-add {
  font-size: $clamp-icons;
  z-index: 2;
  position: relative;
}

// Cuando se pase el ratón sobre un icono saldrá una sombra detrás
.icon:hover {
  text-shadow: 3px 3px black;
}

/************MÓVIL*************/

@include para-tablets-850{
  article p {
    max-width: 100%;
    text-align: center;
  }

  #contenido {
    min-width: 100%;
  }
}

@include para-movil{
  #collage {
    display: none;
  }

  #personajes {
    display: none;
  }

  #contenidoRecomendado {
    display: none;
  }
}

@include para-movil-horizontal{
  #presentacion h3 {
    font-size: 14px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: 28px;
  }
}

@include para-pantallas-anchas-bajas-700-400{
  #presentacion h3 {
    font-size: 14px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: 28px;
  }
}

@include para-pantallas-anchas-bajas-700-500{
  #presentacion h3 {
    font-size: 12px;
  }

  #contenido section:not(#presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: 20px;
  }

  .bi-book,
  .bi-bar-chart-line,
  .bi-camera-reels,
  .bi-person-add {
    font-size: 30px;
  }

  .btnScroll {
    padding: 0px;
    margin-top: 0%;
  }

  .btnScroll img {
    height: 25px;
  }
}
