html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}


#presentacion {
  background-color: nth($paleta-colores, 3);
  color: nth($paleta-colores, 1);
  box-shadow: 0px 1px 10px black;
}

#presentacion h3 {
  font-size: $clamp-h3-presentacion;
}

.logoPrincipal {
  width: 50vw;
}

.btnScroll {
  margin-top: 5%;
  z-index: 1;
}

#parte1 {
  background-color: nth($paleta-colores, 4);
  color: nth($paleta-colores, 3);
  z-index: 2;
}

#parte1,
#parte2,
#parte3,
#parte4 p {
  font-family: $fuente-texto-secundaria;
  font-weight: bold;
  text-align: center;
  font-size: $clamp-p;
  text-decoration: none;
  margin: 0;
}

#parte2 {
  background-color: nth($paleta-colores, 3);
  color: nth($paleta-colores, 4);
}

#parte3 {
  background-color: nth($paleta-colores, 1);
  color: nth($paleta-colores, 2);
}

#parte4 {
  background-color: nth($paleta-colores, 4);
  color: nth($paleta-colores, 2);


}

#parte4 h1 {
  margin: 10px;
}


#parte4 button {
  background-color: nth($paleta-colores, 2);
  color: nth($paleta-colores, 4);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

#contenido section {
  height: 100vh;
}

#contenido section:not(presentacion) article {
  width: 80vw;
}

#contenido section:not(presentacion) h1 {
  font-family: $fuente-texto-primaria;
  font-size: $clamp-h1;
}

#parte1 h1,
#parte2 h1,
#parte3 h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  z-index: 3;
}



.collage {
  position: absolute;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 5fr));
  grid-gap: 4rem;
  overflow: hidden;
}

.collage img {
  border-radius: 10px;
  z-index: 1;

}

#parte1 article {
  z-index: 1;
}

#degradado {
  position: absolute;
  width: 80vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 48%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-5s {
  animation: fadeIn 5s ease-in-out;
}

.bi {
  margin: 0;
}


.bi-book,
.bi-bar-chart-line,
.bi-camera-reels,
.bi-person-add {
  font-size: $clamp-icons;

}

.icon:hover {
  text-shadow: 5px 5px black;

}


.bi-arrow-down-circle-fill {
  font-size: 40px;
  text-decoration: none;
}



/************MOVIL*************/

@media screen and (max-width: 800px) {
  article p {
    max-width: 100%;
    text-align: center;
  }

  #contenido {
    min-width: 100%;
  }


}


@media screen and (max-width: 280px) {
  .collage {
    display: none;
  }


}

@media screen and (max-width: 1000px) and (orientation: landscape){
  #presentacion h3{
    font-size: 14px;
  }
  

  #contenido section:not(presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: 28px;
  }
  
  
  
}


@media screen and (max-width: 700px) and (orientation: landscape){
  #presentacion h3{
    font-size: 14px;
  }
  

  #contenido section:not(presentacion) h1 {
    font-family: $fuente-texto-primaria;
    font-size: 28px;
  }
}