
// Estilos para el contenedor principal
#contenido {
  width: 100%;
}

// Estilos para el botón de mostrar carrito
.mostrarCarrito {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: nth($paleta-colores, 3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  right: 10;
  top: 50%;
  color: nth($paleta-colores, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.442);

  // Estilos para el contador de productos en el carrito
  #productos {
    text-align: center;
    position: fixed;
    width: 20px;
    background-color: rgb(255, 30, 0);
    border-radius: 10px;
    color: black;
    right: 60px;
    margin-top: 50px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.442);
  }
}

// Estilos para la sección de destacados
#destacados {
  width: 100%;
  height: 30vh;
  background-color: nth($paleta-colores, 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: white;

  > div {
    display: flex;
    justify-content: space-around;
    width: 100%;

    > div {
      margin-bottom: 3%;
      height: 150px;
      width: 150px;
      background-color: nth($paleta-colores, 3);
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.425);
      border-radius: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      color: white;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      span {
        display: none;
      }
    }

    > div:hover {
      cursor: pointer;
      transition: ease-in-out .2s;
      transform: scale(1.1);

      span {
        transition: ease-in-out .2s;
        display: block;
        position: absolute;
        text-shadow: 2px 0px 10px 5px black;
        background-color: rgba(0, 0, 0, 0.418);
        width: 100%;
        z-index: 0;
        overflow: hidden;
      }

      img {
        filter: blur(1);
      }
    }
  }
}

// Estilos para la sección de libros
#libros {
  width: 90vw;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20em, 4fr));
  grid-gap: 2rem;
  justify-items: center;
  margin-bottom: 10px;
}

// Estilos para los filtros
#filtros {
  width: 90vw;
  height: 50px;
  background-color: nth($paleta-colores, 3);
  border-radius: 20px;
  margin-top: 10px;
  color: nth($paleta-colores, 4);

  select {
    border: none;
    padding: 5px;
    background-color: nth($paleta-colores, 1);
    color: nth($paleta-colores, 2);
    border-radius: 10px;
    outline: none;
    font-family: $fuente-texto-secundaria;
  }

  option {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: $fuente-texto-secundaria;
  }
}

// Estilos para cada libro
.libro {
  width: 250px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.171);

  > img {
    height: 200px;
    width: 150px;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.253);
  }

  > hr {
    width: 80%;
    border: solid 1px rgb(228, 228, 228);
    margin: 0;
  }

  > article {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > h1 {
      font-size: 16px;
      margin: 0;
    }
    > .btnLibro {
      display: none;

      button {
        width: 100%;
        height: 30px;
        background-color: nth($paleta-colores, 3);

        margin-top: 7px;
        font-family: $fuente-texto-secundaria;
        color: nth($paleta-colores, 4);
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        color: yellow;
      }
    }

    > .info {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .precio {
        color: rgb(182, 3, 3);
        font-family: $fuente-texto-secundaria;
        font-size: 18px;
      }

      .star {
        color: rgb(239, 199, 0);
      }

      .envio {
        color: rgb(2, 205, 2);
        font-size: 14px;
      }
    }
  }

  > article:hover {
    .info {
      display: none;
    }

    .btnLibro {
      display: block;
      height: 100px;
    }
  }
}

// Estilos adicionales al hacer hover sobre un libro
.libro:hover {
  transition: ease-in-out 0.2s;
  box-shadow: 10px 10px 2px 0px nth($paleta-colores, 1);

  > article {
    .info {
      display: none;
    }

    .btnLibro {
      display: block;
      height: 100px;
    }
  }
}

// Estilos para el enlace del libro
.enlaceLibro {


  display: none;
}

// Estilos para la información detallada del libro
.infoLibro {
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f0f0f0;
  padding: 2rem;
  box-sizing: border-box;

  .prevLibro, .descrpLibro {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
  }

  .prevLibro {
    flex: 0 0 22%;
    margin-right: 2rem;

    img {
      max-width: 100%;
      max-height: auto;
      border-radius: 10px;
    }
  }

  .descrpLibro {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 2rem;
    color: #333;

    .tituloDescripcion {
      h1 {
        font-size: clamp(1.75rem, 5vw, 2rem);
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: clamp(1.25rem, 4vw, 1.5rem);
        color: #555;
        margin-bottom: 1rem;
      }

      p, li {
        font-size: clamp(0.9rem, 2.5vw, 1rem);
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .etiquetas {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        
        span {
          background-color: #ddd;
          padding: 0.5rem 1rem;
          border-radius: 20px;
          font-size: clamp(0.8rem, 2.2vw, 0.9rem);
          font-weight: 500;
        }
      }

      .stars {
        display: flex;
        align-items: center;
        color: #f5a623;

        i {
          margin-right: 0.3rem;
        }
        
        span {
          font-size: clamp(0.8rem, 2.2vw, 1rem);
        }
      }
    }

    .compra {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;

      button {
        flex: 1;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 20px;
        font-size: clamp(0.8rem, 2vw, 1rem);
        font-weight: 500;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
        &:hover {
          background-color: nth($paleta-colores, 3);
          color: nth($paleta-colores, 1);
        }
      }

      .btnComprar {
        background-color: nth($paleta-colores, 1);
        color: nth($paleta-colores, 2);
        cursor: pointer;

        &:hover {
          background-color: nth($paleta-colores, 3);
          color: nth($paleta-colores, 1);
        }
      }
    }
  }
}

// Media queries para ajustar los estilos en dispositivos móviles y tablets


@include para-tablets-800{
  .infoLibro {

    flex-direction: column;
    align-items: center;

    .prevLibro, .descrpLibro {
      width: 100%;
      margin-top: 15%;
      margin-right: 0;
    }

    .prevLibro {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 10%;
        max-width: 50%;
        height: auto;
      }
    }

    .descrpLibro {
      order: 1;
    }

    .compra {
      flex-direction: column;
      width: 100%;

      button {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@include para-movil {
  .infoLibro {
    margin-top: 20%;

    .prevLibro {
      img {
        max-width: 80%;
        margin-top: 20%;
      }
    }

  }
}

// Estilos adicionales para dispositivos móviles
@include para-tablets-900 {
  .libro {
    > article:hover {
      .info {
        display: inline;
      }

      .btnLibro {
        display: none;
      }
    }
 
    .enlaceLibro {
      display: block;
      width: 100%;
      height: 100%;

      button {
        background-color: transparent;
        position: absolute;
        width: 250px;
        height: 350px;
        outline: none;
        border: none;
      }
    }
  }

  
  #filtros {
    margin-top: 15%;
  }

}

@include para-pantallas-1100{
  #destacados {
    display: none;
  }

  #filtros {
    margin-top: 14%;
  }

}


@include para-tablets-850 {
  #contenedorValoracion {
    display: none;
  }

  #contenedorPrecio {
    display: none;
  }

  #filtros {
    width: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.293);
  }
}

@include para-movil {
  #libros {
    
    margin-top: 35%;
  }

  #filtros {
    position: fixed;
    margin-top: 25%;
  }

  .mostrarCarrito {
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: nth($paleta-colores, 3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    right: 10;
    top: 80%;
    color: nth($paleta-colores, 1);
  }
}


@include pantallas-900-2000{
  #filtros {
    position: fixed;
    margin-top: 14%;
  }

  #libros {
    
    margin-top: 35%;
  }
}




@include pantallas-800-2000{
  #filtros {
    position: fixed;
    margin-top: 15%;
  }

  #libros {
    
    margin-top: 38%;
  }
}


@include pantallas-600-2000{
  #filtros {
    position: fixed;
    margin-top: 20%;
  }

  #libros {
    
    margin-top: 40%;
  }
}


@include pantallas-500-2000{
  #filtros {
    position: fixed;
    margin-top: 25%;
  }

  #libros {
    
    margin-top: 69%;
  }
}


@include pantallas-400-2000{
  #filtros {
    position: fixed;
    margin-top: 30%;
  }

  #libros {
    
    margin-top: 75%;
  }
}



@include para-tablets-800{ /* Ajusta este valor al punto de ruptura que necesites */
  #libros {
    grid-template-columns: 1fr; /* Hace que solo haya una columna */
  }
}

@include para-pantallas-anchas-bajas-1000-700{
  #destacados{
    height: 40vh;
  }
}

@include para-menor-850-1000{
  #filtros {
    
    margin-top: 20%;
  }
}

@include para-menor-650-1000{
  #filtros {
    
    margin-top: 42%;
  }
}


@include para-tablets-1000{
  #filtros{
    
    margin-top: 15%;
  }
}



@include para-tablets-900{
  #filtros{
    
    margin-top: 20%;
  }
}


@include para-tablets-700{
  #filtros{
    
    margin-top: 23%;
  }
}

@include para-tablets-600{
  #filtros{
    position: fixed;
    margin-top: 30%;
  }
}


@include para-tablets-500{
  #filtros{
    position: fixed;
    margin-top: 32%;
  }
}

@include para-tablets-400{
  #filtros{
    position: fixed;
    margin-top: 38%;
  }
}