#contenido {
  width: 100%;
}

.mostrarCarrito {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: nth($paleta-colores, 3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  right: 10;
  top: 50%;
  color: nth($paleta-colores, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.442);

  #productos {
    text-align: center;
    position: fixed;
    width: 20px;
    background-color: rgb(255, 30, 0);
    border-radius: 10px;
    color: black;
    right: 60px;
    margin-top: 50px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.442);
  }
}

#destacados {
  width: 100%;
  height: 35vh;
  background-color: nth($paleta-colores, 3);

  > div {
    margin-bottom: 3%;
    height: 150px;
    width: 150px;
    background-color: nth($paleta-colores, 3);
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: white;
  }
}

#libros {
  width: 90vw;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, minmax(17em, 5fr));
  grid-gap: 2rem;
  justify-items: center;
  margin-bottom: 10px;
}

#filtros {
  width: 90vw;
  height: 50px;
  background-color: nth($paleta-colores, 3);
  border-radius: 20px;
  margin-top: 10px;
  color: nth($paleta-colores, 4);

  select {
    border: none;
    padding: 5px;
    background-color: nth($paleta-colores, 1);
    color: nth($paleta-colores, 2);
    border-radius: 10px;
    outline: none;
    font-family: $fuente-texto-secundaria;
  }

  option {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: $fuente-texto-secundaria;
  }
}

.libro {
  width: 250px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.171);

  > img {
    height: 200px;
    width: 150px;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.253);
  }

  > hr {
    width: 80%;
    border: solid 1px rgb(228, 228, 228);
    margin: 0;
  }

  > article {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > h1 {
      font-size: 16px;
      margin: 0;
    }
    > .btnLibro {
      display: none;

      button {
        width: 100%;
        height: 30px;
        background-color: nth($paleta-colores, 3);

        margin-top: 7px;
        font-family: $fuente-texto-secundaria;
        color: nth($paleta-colores, 4);
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        color: yellow;
      }
    }

    > .info {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .precio {
        color: rgb(182, 3, 3);
        font-family: $fuente-texto-secundaria;
        font-size: 18px;
      }

      .star {
        color: rgb(239, 199, 0);
      }

      .envio {
        color: rgb(2, 205, 2);
        font-size: 14px;
      }
    }
  }

  > article:hover {
    .info {
      display: none;
    }

    .btnLibro {
      display: block;
      height: 100px;
    }
  }
}

.libro:hover {
  transition: ease-in-out 0.2s;
  box-shadow: 10px 10px 2px 0px nth($paleta-colores, 1);
}

@media screen and (max-width: 900) {
  #destacados {
    display: none;
  }

  #filtros {
    margin-top: 15%;
  }
}

@media screen and (max-width: 720) {
  #contenedorValoracion {
    display: none;
  }

  #contenedorPrecio {
    display: none;
  }

  #filtros {
    width: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.293);
  }
}

@media screen and (max-width: 640) {
  #libros {
    width: 45vh;
  }

  #filtros {
    margin-top: 18%;
  }
}

@media screen and (max-width: 640) {
  #filtros {
    position: fixed;
    margin-top: 21%;
  }

  #libros {
    margin-top: 35%;
  }
}

@media screen and (max-width: 500) {
  .mostrarCarrito {
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: nth($paleta-colores, 3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    right: 10;
    top: 80%;
    color: nth($paleta-colores, 1);
  }
}

@media screen and (max-width: 400) {
  #filtros {
    margin-top: 20%;
  }
}
