$paleta-colores:(#bcebbe,#10292a,#2d4d4d, #ffffff);


$fuente-texto-secundaria: "Montserrat", sans-serif;
$fuente-texto-primaria: "Barlow Condensed", sans-serif;


$clamp-h1: clamp(1rem, 0.556rem + 7.111vw, 9rem);
$clamp-p: clamp(0.4rem, 0.364rem + 1.168vw, 1.75rem);
$clamp-h3-presentacion: clamp(0.14rem, -0.352rem + 7.876vw, 2rem);
$clamp-icons: clamp(2rem, 1.591rem + 6.551vw, 9.37rem);

