$paleta-colores:(#bcebbe,#10292a,#2d4d4d, #ffffff);


$fuente-texto-secundaria: "Montserrat", sans-serif;
$fuente-texto-primaria: "Barlow Condensed", sans-serif;


$clamp-h1: clamp(3rem, 6.32vw + 1.42rem, 9rem);
$clamp-p: clamp(1.13rem, 0.66vw + 0.96rem, 1.75rem);

