// Estilos base
body {
  font-family: $fuente-texto-secundaria;
  margin: 0;
}

// Estilos del encabezado
header {
  background-color: nth($paleta-colores, 2);
  margin: 0;

  img {
    cursor: pointer;
    margin-left: 3px;
  }
}

// Estilos del menú principal
.menu {
  // Estilos de botones del menú
  button {
    width: 100%;
    height: 90%;
    background-color: nth($paleta-colores, 2);
    color: nth($paleta-colores, 4);
    border: none;
    outline: none;
    box-shadow: none;
    
    // Efecto hover para los botones del menú
    &:hover {
      background: linear-gradient(#bcebbea2, #10292a);
    }
  }

  // Barras decorativas en el menú
  div {
    width: 100%;
    height: 3px;
    background-color: nth($paleta-colores, 1);
  }

  // Estilos de la lista del menú
  ul {
    margin: 0;

    li {
      list-style: none;
      margin-left: 5px;
    }
  }
}

// Estilos para el logo de la página
.logoPagina {
  cursor: pointer;
}

// Botones para abrir y cerrar el menú en móviles
.abrir-menu,
.cerrar-menu {
  font-size: 30px;
  display: none;
  
}

// Botones dentro de la lista del menú
.lista button {
  cursor: pointer;
}


// Estilos del pie de página
footer {
  background-color: nth($paleta-colores, 2);

  // Estilos para el título en el pie de página
  h1 {
    font-family: $fuente-texto-secundaria;
    font-size: 18px;
    color: nth($paleta-colores, 1);
  }

  // Estilos para enlaces en el pie de página
  a {
    text-decoration: none;
    color: nth($paleta-colores, 4);
  }
}


// Menú para tablets y dispositivos móviles

@include para-tablets-850{
  .abrir-menu,
  .cerrar-menu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: nth($paleta-colores, 1);
  }

  // Menú oculto por defecto en móviles
  .menu {
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    background-color: nth($paleta-colores, 2);
    box-shadow: 40px 0px 50px white;
  }

  // Menú visible al activarse
  .visible {
    opacity: 1;
    visibility: visible;
  }

  // Ajustes para la lista del menú en móviles
  .lista{
    padding-left: 0;
  }

  .menu ul li {
    list-style: none;
  }
}



// Ajustes para pantallas anchas y bajas
@include para-pantallas-anchas-bajas-1900-500{
  .menu ul li {
    list-style: none;
    margin-left: 0px;
  }
}

// Ajustes para paisajes estrechos
@include para-pantallas-anchas-bajas-900-290{
  .cerrar-menu{
    font-size: 25px;
  }

  .menu ul li {
    list-style: none;
    margin-left: 0px;
  }

  .lista button{
    font-size: clamp(0.313rem, -0.104rem + 6.667vw, 0.938rem);
  }
}



// Ajustes de footer para móviles
@include para-tablets-800 {
  footer article {
    margin-top: 0;
  }

  footer h1 {
    font-size: 15px;
  }
}

// Ajustes de footer para dispositivos en orientación paisaje
@include para-pantallas-anchas-bajas-800-450{
  footer h1 {
    font-size: 13px;
  }
  footer a {
    font-size: 13px;
  }
}